slides > slide {
  background: #1f4e79 !important;
  color: white !important;
}

slides > slide.title-slide hgroup h1 {
  color: white !important;
}

slides > slide.title-slide hgroup h2 {
  color: white !important;
}

slides > slide.title-slide hgroup p {
  color: white !important;
}

h2 {
  color: white !important;
}

p, li {
  color: white !important;
}

strong {
  color: white !important;
}